.atom {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
}

.oval {
  width: 200px;
  height: 75px;
  border: 2px solid #61DAFB;
  border-radius: 50%;
}

.oval-forward {
  -moz-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
}

.oval-backward {
  margin-top: -75px;
  -moz-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  -webkit-transform: rotate(-65deg);
  transform: rotate(-65deg);
}

.oval-horizontal {
  margin-top: -75px;
}

.circle {
  width: 40px;
  height: 40px;
  background: #61DAFB;
  border-radius: 40px;
  position: absolute;
  top: 19px;
  left: 80px;
  -moz-animation: pulse 2s ease-in-out infinite;
  -ms-animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite;
}
