.highlight {
  padding: 1em;
  margin-bottom: 1em;
  overflow: scroll;
  border-radius: 4px;
  font-size: 0.8em;
}

p > code {
  padding: 0.2em 0.4em;
  font-size: 0.8em;
  border-radius: 4px;
  background: lighten($light-grey, 10%);
  color: rgba(0,0,0,0.9);
}
