body {
  margin: 0 1em;
  padding: 1em 0;
  background-color: $white;
}

main {
  max-width: 720px;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid lighten($light-grey, 10%);
}

header.post {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

footer {
  margin-top: 2em;
}