$base-font-size: 22px;
$base-line-height: 1.6;

body {
  font-family: "calluna", serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $body-color;
}

p, ul, ol, table, blockquote {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

strong {
  color: $body-strong-color;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

em {
  opacity: 0.8;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid lighten($light-grey, 10%);
}

h1, h2, h3 {
  color: $black;
  margin-top: 2 * 1.625rem;
  margin-bottom: 1.625rem;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.625rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.625rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.625rem;
}

ul {
  list-style: disc;
  margin-left: 1em;
}

blockquote {
  text-align: center;
}

.title {
  color: $black;
}

header.post {
  text-align: center;
}

footer p {
  color: $light-grey;
}

dl.posts {
  @include flexbox;
  @include justify-content(space-between);
  margin-bottom: 1em;
  dt {
    display: none;
    @media all and (min-width: 640px) {
        display: inline;
    }
  }
}
