$black: rgba(0,0,0,0.8);
$white: #FFFFFF;
$dark-grey: #666666;
$light-grey: #C5C4C4;
$red: #B92222;
$blue: #0051FF;

$body-color: $dark-grey;
$body-link-color: $red;
$body-strong-color: $black;

$link-color: $red;
