<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="//use.typekit.net/hkv1ece.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <header>
      <h1><a href="/">{{ site.name }}</a></h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>
        hello@jackcallister.com<br>
        021 262 8832
      </p>
    </footer>
  </body>
</html>
