<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The React Digest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="//use.typekit.net/hkv1ece.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/revue.css">
  </head>
  <body>

  <main>
    <header>
      <div class='column center'>
        <div class='logo-mask'>
          <div class='logo'></div>
        </div>

        <h1>The React Digest</h1>
        <h2>A hand-picked weekly selection of the best React JS resources.</h2>
      </div>
    </header>

    <div class='column center'>
      <form action="https://www.getrevue.co/profile/jarsbe/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <input class="email" placeholder="Your email..." type="email" name="member[email]" id="member_email">
        <input class="submit" type="submit" value="Subscribe!" name="member[subscribe]" id="member_submit">
      </form>
    </div>
  </main>
  </body>
<html>
